<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgfqvOoyFoArdzIZ21gQqzeKStKlp3tUc</string>
	<key>GCM_SENDER_ID</key>
	<string>1082120725598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nutrisynccollective.app</string>
	<key>PROJECT_ID</key>
	<string>nutrisync-push</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrisync-push.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082120725598:ios:56f9d029d033fc13c5c0cf</string>
</dict>
</plist>